.clients_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients_container {    
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 1920px;
}

.clients_title {
    margin: 50px;
}

.clients_underbar {
    background-color: lawngreen;
    width: 100px;
    height: 3px;
    margin-bottom: 10px;
}

.clients_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clients_logo {
    width: 100px;
    height: 100px;
}

.clients_contato_link {
    color: lawngreen;
    text-decoration: underline white;
    text-align: end;
    align-self: flex-end;
    margin-right: 50px;
}